<!DOCTYPE html>
<html>
<head>
  <title>ShareMyFiles</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="main-container" class="container text-center">
    <h1>ShareMyFiles</h1>
    <%= yield %>
  </div>
</body>
</html>
